body
{
    background: lightgray;
}

.formButton 
{
	width: 130px;
	height: 35px;
	background: black;
	color: white;
	border-width: 5px;
	border-radius: 10px;
    border-color: #fa8231;
	margin: 20px;

}
.formall
{
    font-family: cursive;
    font-size: large;
    outline-width: thick;
    outline-style: double;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border-style: solid;
    display: block;
    height: 100%;
}
.forminput
{
    text-align: center;
    margin: 23px;
    border-style: groove;
    border-radius: 6px;
    font-size: x-large;
    background-color: lightgray;
}
.formtittle
{
	color: #fa8231;
	outline: 6px;
}

.boxflex
{
    display: flex;
    max-width: 100%;
    margin: auto;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
}

.flexone
{
    display: flex;
    width: 100%;
}

@media screen and (max-width: 900px) 
{
    .boxflex {flex-direction: column;}
    .flexone {width: 100%;}
    .formall {height: 100%;}
}