body 
{
    background-color: lightgray;
    font-family: cursive
}

h1 
{
    color: #fa8231;
    text-align: center;
     
}

p 
{
    font-size: 16px; 
    text-align: center; 
}

.presentation
{
    width: 100%;
    padding: 10px;
    display: block;
}

img
{
    display: block;
    margin-left: 40%;
    margin-right: auto;
    margin-left: auto;
}

h2
{
    margin: 10px;
    background-color: black;
    background-size: auto;
    color: #FEA47F;
    text-align: center;
}

.allbox
{
    display: flex;
    max-width: 100%;
    margin: auto;
    text-align: justify;
    flex-direction: column;
    outline-width: thick;
    outline-style: double;
    border: lightsalmon;
    border-style: dotted;
    border-radius: 30px;
}

.flex1
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex1 .box1, .flex1 .box2{
    flex-basis : 50%;
}

.flex2
{
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) 
{

    .allbox {flex-direction: column; justify-content: space-evenly;}

    .flex1 {
        width: 100%; 
        flex-direction: column;
    }

    .flex1 .box1, .flex1 .box2 {
        width:100%;
    }
    .flex2 {
        width: 100%;
        flex-direction: column;
    }

  
}

.hr

{
    width: 100%;
    margin: auto;
}


