body 
{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 
{
    color: #fa8231;
    text-align: center;
    padding-left: 170px;
    padding-top: 50px;

     
}

p 
{
    font-size: 16px; 
    text-align: center; 
}

.presentation
{
    width: 100%;
    padding: 10px;
    display: block;
}

img
{
    display: block;
    margin-left: 40%;
    margin-right: 0 auto;
}

h2
{
    margin: 10px;
    background-color: black;
    background-size: auto;
    color: #FEA47F;
    text-align: center;
}

.allbox
{
    display: flex;
    max-width: 652px;
    margin: auto;
    text-align: justify;
    flex-direction: column;
}

.flex1
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex2
{
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) 
{

    .allbox {flex-direction: column;}

    .flex1 {width: 100%;}
  
    .flex2 {width: 100%;flex-direction: column;}
  
}

.hr

{
    width: 100%;
    margin: auto;
}


