body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
   
}

h1 {
    color: #c0392b;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 13px;
}

.presentation
{
    width: 300px;
    padding: 10px;
    display: block;

}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2
{
    margin: 10px;
    background-color: darkred;
    color: white;
}

.divflex
{
    display: flex;
    padding-left: 450px;
    
    
}